*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 2rem;
}

#canvas1 {
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: calc(100vw - 4rem);
  aspect-ratio: 1 / 1;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;

  label {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

#animations {
  font-size: 1rem;
}
