*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  inset: 0;
}

img {
  display: none;
}
