*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 2rem;
  background-color: black;
}

#canvas1 {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: calc(100vw - 4rem);
}

#slider {
  width: 100%;
}

p {
  color: white;
}
