*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  inset: 0;
}

img {
  display: none;
}

#fullScreenButton {
  position: absolute;
  font-size: 20px;
  padding: 10px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
